Package: rvkybard
Version: 0.04
Section: misc
Priority: optional
Architecture: armhf
Maintainer: glreno <46288004+glreno@users.noreply.github.com>
Description: Remote Retro Virtual Keyboard Servlet
Distribution: development
Depends: openjdk-8-jdk-headless, tomcat8
