<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd">
<!--
Copyright (c) 2024 Gerald Reno, Jr.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0
-->

    <context:component-scan base-package="com.rfacad"></context:component-scan>
    <context:annotation-config/>
    <context:spring-configured/>

    <bean id="kybardSender" class="com.rfacad.rvkybard.sender.KybardSender" destroy-method="shutdown">
        <property name='dev' value='/dev/hidg0' />
    </bean>
    <bean id="kybardReader" class="com.rfacad.rvkybard.sender.KybardReader" init-method="init" destroy-method="shutdown">
        <property name='dev' value='/dev/hidg0' />
    </bean>

    <bean id="auth" class="com.rfacad.rvkybard.auth.AuthImpl" init-method = "init">
        <property name='pinFile' value='/var/lib/rrvkb/pin' />
        <property name='loginPageUrl' value='/login.html' />
        <property name='config' ref='config' />
    </bean>

    <bean id="config" class="com.rfacad.rvkybard.util.RvKybardConfig" init-method = "init">
        <property name='configFile' value='/var/lib/rrvkb/config.txt' />
    </bean>

</beans>
